.my-guy {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 397px;
	height: 476px;
	background: cover;
	align-self: end;
}
.my-document {
	position: absolute;
	left: -90px;
	top: 0;
	width: 102px;
	height: 117px;
}
.my-folders {
	position: absolute;
	left: 190px;
	top: 0;
	width: 140px;
	height: 68px;
}
.container-images {
	position: relative;
	height: 760px;
	align-items: end;
}
