.my-guy {
	position: absolute;
	margin: 0 auto;
	margin-top: -200px;
	max-width: 394px;
	max-height: 473px;
	background: cover;
	bottom: 0;
	left: 80px;
}
@media screen and (max-width: 1200px) {
	.my-guy {
		left: 40px;
	}
}
@media screen and (max-width: 1100px) {
	.my-guy {
		left: 10px;
	}
}
@media screen and (max-width: 1000px) {
	.my-guy {
		max-width: 80%;
		max-height: 80%;
	}
}
.my-document {
	position: absolute;
	left: 0px;
	top: 50px;
	width: auto;
	height: auto;
}
.my-folders {
	position: absolute;
	left: 290px;
	top: 50px;
	width: auto;
	height: auto;
}
.container-images {
	position: relative;
	height: 760px;
	align-items: end;
}
