@font-face {
    font-family: 'Inter';
    src: url('../../../fonts/inter/Inter-Regular.ttf')
}

.form {
    width: 429px;
    height: 523px;
    border-width: 1px;
    border-style: solid;
    border-color: #C7C7C7;
    box-shadow: 2px 2px 15px 0px #C7C7C7;
    border-radius: 10px;
    margin: 100px;
}

.form_auth_text {
    text-align: left;
    margin-left: 30px;
    font-family: 'Inter';
    font-size: 16px;
    color: #949494;
}

button {
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}

.return_passw {
    font-family: 'Inter';
    font-size: 16px;
    color: #5970FF;
    text-decoration: underline;
    cursor: pointer;
}

input {
    width: 85%;
    border-style: solid;
    border-color: #C7C7C7;
    border-radius: 5px;
    border-width: 1px;
}

.logos {
    float: left;
    margin-left: 25px;
}

.head {
    font-family: 'Inter';
    font-size: 16px;
    display: grid;
    grid-template-columns: 151px 213px;
    margin-top: 15px;
    margin-bottom: 50px;
    cursor: pointer;
}

.el-1 {
    color:#029491;
}

.el-2 {
    color: #949494;
    text-align: right;
}

.line {
    margin-top: 10px;
}

.line-1 {
    width: 140px;
    margin-left: 10px;
    border-top: 3px solid #029491;
}

.line-2 {
    width: 213px;
    border-top: 3px solid #949494;
    margin-left: 20px;
}

.lck {
    float: left;
    left: 0;
    top: 0;
}