@font-face {
	font-family: "Inter";
	src: url("../../../fonts/inter/Inter-Regular.ttf");
}

form {
	display: flex;
	padding: 27px 45px;
	max-width: 872px;
	max-height: 543px;
	border-width: 1px;
	border-style: solid;
	border-color: #c7c7c7;
	box-shadow: 2px 2px 15px 0px #c7c7c7;
	border-radius: 10px;
}
@media screen and (max-width: 1195px) {
	form {
		flex-direction: column;
		max-height: max-content;
	}
}
@media screen and (max-width: 1000px) {
	form {
		flex-direction: row;
		max-height: max-content;
		margin: 0 auto;
	}
}
@media screen and (max-width: 860px) {
	form {
		flex-direction: column;
		margin: 0 auto;
	}
}
@media screen and (max-width: 460px) {
	form {
		max-width: 375px;
		margin: 0px -10px;
		border-radius: 5px;
		padding: 27px 10px;
	}
	.form-containe {
		max-width: 375px;
		margin: 0 auto;
	}
}
.part-left {
	display: flex;
	flex-direction: column;
}
.part-right {
	display: flex;
	flex-direction: column;
}
.part_checkbox {
	margin-left: 0;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	max-height: 244px;
	max-width: 406px;
}
.part_input {
	max-width: 373px;
	display: flex;
	flex-direction: column;
	height: 100%;
	text-align: left;
}
@media screen and (max-width: 460px) {
	.part_input {
		max-width: 460px;
		margin: 0 20px;
	}
}
.part_search {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-bottom: 40px;
}
@media screen and (max-width: 460px) {
	.part_search {
		margin: 0 20px;
		margin-top: 20px;
	}
}
.part_search_block-input {
	display: flex;
}
@media screen and (max-width: 460px) {
	.part_search_block-input {
		display: flex;
		flex-direction: column;
	}
}
.field-input,
.field-input1::placeholder,
.field-input-doc::placeholder,
.field-input2::placeholder {
	text-align: center;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.03em;
	color: #949494;
	opacity: 0.4;
}
.field-input2 {
	max-width: 176px !important;
	margin-right: 20px !important;
	border: 1px solid #c7c7c7 !important;
	border-radius: 5px !important;
	border-width: 1px !important;
	height: 43px !important;
	margin-bottom: 10px;
}

@media screen and (max-width: 460px) {
	.MuiInputBase-input {
		margin-bottom: 23px;
		max-width: 460px;
	}
}
.field-input1,
.field-input-doc {
	max-width: 232px;
	height: 43px;
	border-style: solid;
	border-color: #c7c7c7;
	border-radius: 5px;
	border-width: 1px;
}
@media screen and (max-width: 460px) {
	.field-input1 .field-input-doc {
		max-width: 100% !important;
		border-radius: 5px;
	}
	.tonality {
		max-width: 100% !important;
	}
}
select {
	background-color: #fff;
	max-width: 232px;
	height: 43px;
	border-style: solid;
	border-color: #c7c7c7;
	border-radius: 5px;
	border-width: 1px;
}

.title-input {
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: 25px;
}
.title-input_inn {
	margin-top: 0px;
}
.title-input_search {
	margin-top: 10px;
	margin-bottom: 20px;
}
.part_checkbox {
	text-align: left;
}
@media screen and (max-width: 460px) {
	.part_checkbox {
		display: none;
	}
}
.checkbox {
	display: flex;
	padding-bottom: 10px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.03em;
	color: #000000;
	opacity: 0.4;
}
label::before {
	opacity: 0;
	color: #000000;
}
label input {
	display: none; /* <--скрываем дефолтный чекбокс */
}
label span {
	/* <-- стилизируем новый */
	height: 20px;
	width: 20px;
	border: 1px solid gray;
	display: inline-block;
	position: relative;
	background-color: #fff;
	border-radius: 2px;
	padding: 3px;
	margin-right: 16px;
}
[type="checkbox"]:checked + span:before {
	/* <-- ставим иконку, когда чекбокс включен  */
	content: "\2713";
	position: absolute;
	top: -3px;
	left: 1px;
	font-size: 20px;
	color: green;
}
[type="text"]:checked + span:before {
	/* <-- ставим иконку, когда чекбокс включен  */
	content: "\2713";
	position: absolute;
	top: -3px;
	left: 1px;
	font-size: 20px;
	color: green;
}
.btn {
	margin-bottom: 0;
	margin-top: auto;
	margin-right: 0;
	margin-left: auto;
}
.btn-p {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.03em;
	color: #949494;
}
@media screen and (max-width: 1195px) {
	.btn {
		margin-top: 50px;
	}
}
@media screen and (max-width: 860px) {
	.btn {
		margin-top: 80px;
	}
}
@media screen and (max-width: 460px) {
	.btn {
		margin: 0 auto;
		margin-top: 40px;
	}
}
.my-document-add {
	display: none;
}
.my-guy-add {
	display: none;
}
@media screen and (max-width: 1000px) {
	.my-document-add {
		display: block;
		position: absolute;
		top: -120px;
		left: 500px;
	}
	.my-guy-add {
		display: block;
	}
	form {
		margin-bottom: 30px;
	}
	.form-containe {
		position: relative;
	}
}
@media screen and (max-width: 680px) {
	.my-document-add {
		left: 450px;
	}
}
@media screen and (max-width: 565px) {
	.my-document-add {
		left: 300px;
	}
}
@media screen and (max-width: 460px) {
	.my-document-add {
		left: 250px;
	}
	.my-guy-add {
		max-width: 375px;
		max-height: auto;
	}
}
.field-input {
	border: none ;
	max-width: 176px !important;
	text-align: center;
}
