/* @font-face {
	font-family: "FERRY";
	src: local("FERRY") url("../../fonts/FERRY/ferry.otf") format("truetype");
	font-weight: bold;
} */
.font_ferry {
	font-family: "FERRY";
	text-align: left;
}
.div_main {
	display: flex;
	justify-content: space-between;
	max-width: 1322px;
	max-height: 585px;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 50px;
}
.div_image {
	margin-left: 110px;
}
.div_right {
	align-self: end;
	bottom: 0;
}
.div_left {
}
