.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
.body {
	border: 1px solid red; /* justify-content: ; */
	flex: 1 1 auto;
}
.header {
	border: 1px solid green;
}
.footer {
}
